#formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: aqua;
    padding: 10px;
    
}

button:hover{
    /* background-color: blue; */
    scale: 1.05;
}

#painelDinos{
    margin-top: 25px;
    background-color: aquamarine;
    min-height: 30px;
}

.card{
    border: 1px solid #000000;
    margin: 5px;
    padding: 5px;
    width: 200px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#listaDinos{
    background-color: rgba(102, 15, 184, 0.328);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-wrap: wrap;

    min-height: 500px;
}