*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #bbb;
    /* padding-left: 20px; */
    /* margin-bottom: 20px; */
 padding: 20px 25px;
 margin: 10px 0 0 0; /*T,R,B,L*/
}

a{
    color: #fff;
}

nav{
    background-color: #AAA;

    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    li{
        a{
            color: #0F0;
            text-decoration: none;
            background: #fff;
            padding: 5px;
            transition: all ease-in-out 0.3s;

            &:hover{
                color: #FFF;
                background: #0F0;
            }
        }
    }
}
/* nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
} */

main{
    background-color: #ccc;

    section{
        padding: 20px;
        margin: 10px;
        background-color: #EEE; 
        
    }
}
footer{
    background-color: #666;
    padding: 15px 0;
    color: #FFF;
    text-align: center;
}